set timeout=10
set timeout_style=countdown
set default=0

insmod all_video
set gfxmode=1280x800x32
insmod gfxterm
set locale_dir=$prefix/locale
set lang=en_US
insmod gettext

font=unicode

terminal_input console
terminal_output gfxterm

menuentry "FarCry" {
    multiboot2 /boot/farcry
    boot
}